*{
    /*box-sizing: border-box;*/
  }

body{
    max-width: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
    background-color: #000000;
}

header{
    height: 130px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: flex-start;
}

.logo{
    margin: 10px;
    padding: 10px;
}

.nav{

    margin: 10px 60px;

}

ul {
    display: flex;
    list-style: none;
    text-wrap: wrap;
}

li{
    margin: 5px;
    padding: 5px;
}

main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff;
}

.slider{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: #e5e7eb;
    justify-content: space-around;
    align-items: center;
      
}

.slider img{
    height: 80%;
    width: 104%;
}

.sliderone, .slidertwo {
    max-width: 35%;
    color: #f9faf8;
    font-size: 18px;
    padding: 10px;
}


button{
    background-color:#3882f6;
    color:#e5e7eb;
    border: 1px solid #e5e7eb;
    position: relative;
    font-size: 20px;
    padding: 5px;
    width: 150px;
    text-align: center;
  
}

.quote{
    background-color: #e5e7eb;
    font-size: 30px;
    font-style: italic;
    height: 5%;
    align-items: center;
    padding: 25px;
    margin: 10px 0;
}

.contentsecond{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #black;
    justify-content: space-around;
    align-items: center;
    margin-top:10px;
}

.contentbox{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    color: #black;
    justify-content: space-around;
    align-items: center;
    margin:0 10px;
    padding: 10px;
    flex-wrap: nowrap;
}

.contentbox>*{
    flex-wrap: nowrap;
}

.contentbox img{
    padding: 5px 10px 0 5px;
    width:80%;
    height:50%;
}

.contenttext{
    font-size: 28px;
    justify-content: center;
}

.signup{
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.bottombutton{
    margin: 10px;
    background-color:#3882f6;
    color:#ffffff;
    border: 1px solid #e5e7eb;
    font-size: 15px;
    padding: 1px;
    width: 100px;
    height: 30px;
    text-align: center;
}

.footer{
    color: #f9faf8;
    background-color: #1F2937;
    text-align: center;

}